ul.tools
  li.chpass
    a(href=basepath + "/changeProfile") #{__i('Change profile')}
  - if (user.admin)
    li.mngusers
      a(href=basepath + "/manageUsers") #{__i('Manage users')}
  li.link
    a(href=basepath + "/linkedDevices") #{__i('Linked devices')}
