.loginscreen.regscreen
  h1 #{__i('Create first user')}

  form(method="post", action=basepath + "/createFirstUser")
    div.iwrapper.r
      label(id="loginlabel") #{__i('Username:')}
      input(name="login", value=formval.login, id="login")
    div.iwrapper.r
      label(id="passwd1label") #{__i('Password:')}
      input(type="password", name="passwd1", id="passwd1")
    div.iwrapper.r
      label(id="passwd2label") #{__i('Check password:')}
      input(type="password", name="passwd2", id="passwd2")
    div.iwrapper.r
      label(id="realnamelabel") #{__i('Name:')}
      input(name="realname", value=formval.name, id="realname")
    input.register(type="submit", value=__i('Create user'))

  script(type="text/javascript")
    $("#login").focus(function() {
      $("#loginlabel").fadeOut();
    });
    $("#login").blur(function() {
      if ($("#login").val().length == 0) {
        $("#loginlabel").fadeIn();
      }
    });
    $("#passwd1").focus(function() {
      $("#passwd1label").fadeOut();
    });
    $("#passwd1").blur(function() {
      if ($("#passwd1").val().length == 0) {
        $("#passwd1label").fadeIn();
      }
    });
    $("#passwd2").focus(function() {
      $("#passwd2label").fadeOut();
    });
    $("#passwd2").blur(function() {
      if ($("#passwd2").val().length == 0) {
        $("#passwd2label").fadeIn();
      }
    });
    $("#realname").focus(function() {
      $("#realnamelabel").fadeOut();
    });
    $("#realname").blur(function() {
      if ($("#realname").val().length == 0) {
        $("#realnamelabel").fadeIn();
      }
    });

    $(function() {
      if ($("#login").val().length != 0) {
        $("#loginlabel").hide();
      }
      if ($("#passwd1").val().length != 0) {
        $("#passwd1label").hide();
      }
      if ($("#passwd2").val().length != 0) {
        $("#passwd2label").hide();
      }
      if ($("#realname").val().length != 0) {
        $("#realnamelabel").hide();
      }
    });
