h1 Folders

ul.tools
  li.chpass
    a(href=basepath + "/changePassword") Change password
  - if (user.admin)
    li.mngusers
      a(href=basepath + "/manageUsers") Manage users
    li.link
      a(href=basepath + "/linkedDevices") Linked devices

ul.folders
  - each folder in folders
    li(class=folder.type)
      a(href=basepath + "/folder/" + folder.id)= folder.name
