h1 Folder #{folder.name}
p.path
  strong [#{folder.name}]/#{path}

ul.folders
  - if (locals.parUrl)
    li.parent
      a(href='/folder/' + folder.id + '?' + parUrl) ..

  - each entry in tree
    li(class=entry.type)
      - if (entry.type == 'file')
        #{entry.name}
      - else
        a(href='/folder/' + folder.id + '?' + entry.url)= entry.name + '/'
