h1 #{__i('Folder %s', folder.name)}

include includes/toolbox

p.tofolders
  a(href=basepath + "/folder") #{__i('Back to folder list')}
p.path
  strong [#{folder.name}]/#{path}

ul.folders
  - if (locals.parUrl)
    li.parent
      a(href=basepath + "/folder/" + folder.id + '?type=dir&' + parUrl) ..

  - each entry in tree
    li(class=[entry.type, "mime-" + entry.mimeBase, "mime-" + entry.mime.replace("/", "-")])
      - if (entry.type == 'file')
        a(href=basepath + "/folder/" + folder.id + '?type=file&' + entry.url)= entry.name
        = " (" + convertSize(entry.fileSize) + ")"
        - if (folder.pub)
          a(href=basepath + "/publicFolder/" + folder.id + '?' + entry.directUrl) (#{__i('Public Link')})
      - else
        a(href=basepath + "/folder/" + folder.id + '?type=dir&' + entry.url)= entry.name + '/'
