!!!
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title= __i('SparkleShare Dashboard')
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    link(rel='stylesheet', href=basepath + '/stylesheets/reset.css')
    link(rel='stylesheet', href=basepath + '/stylesheets/style.css')
    link(rel='SHORTCUT ICON', href=basepath + '/images/favicon.png', type="image/png")
    script(type='text/javascript', src=basepath + '/javascripts/jquery-1.6.2.min.js')
  body
    #outerwrapper
      include includes/header
      #wrapper
        #content
          != messages()
          != body
        include includes/footer
