h1 Linked Devices

- if (devices.length < 1)
  strong You have no linked devices
- else
  table
    tr
      th Device name
      th Ident
      th
      th
    - each device in devices
      tr
        td= device.name
        td= device.ident
        td
          a(href=basepath + "/modifyDevice/" + encodeURIComponent(device.ident)) Modify
        td
          a(href=basepath + "/unlinkDevice/" + encodeURIComponent(device.ident)) Unlink

p
  a(href=basepath + "/linkDevice") Link new device
