h1 #{__i('Linked Devices')}

- if (devices.length < 1)
  strong #{__i('You have no linked devices')}
- else
  table
    tr
      - if (user.admin)
        th #{__i('Owner')}
      th #{__i('Device name')}
      th #{__i('Ident')}
      th
      th
    - each device in devices
      tr
        - if (user.admin)
          td= logins[device.ownerUid]
        td= device.name
        td= device.ident
        td
          a(href=basepath + "/modifyDevice/" + device.id) #{__i('Modify')}
        td
          a(href=basepath + "/unlinkDevice/" + device.id) #{__i('Unlink')}

p
  a(href=basepath + "/linkDevice") #{__i('Link new device')}
