.loginscreen
  h1= __i('Login to your Dashboard')

  - if (!user)
    form(method="post", action=basepath + "/login")
      div.iwrapper
        label(for="login", id="loginlabel")= __i('Username:')
        input(type="text", name="login", id="login")
      div.iwrapper
        label(for="password", id="passwordlabel")= __i('Password:')
        input(type="password", name="password", id="password")
      input.login(type="submit", value=__i('Login'), class="submit")

  script(type="text/javascript")
    function hideLabelForAutocomplete() {
      if ($("#login").val().length != 0) {
        $("#loginlabel").hide();
      }
      if ($("#password").val().length != 0) {
        $("#passwordlabel").hide();
      }

      setTimeout(function() {
        hideLabelForAutocomplete();
      }, 300);
    }

    $("#login").focus(function() {
      $("#loginlabel").fadeOut();
    });
    $("#login").blur(function() {
      if ($("#login").val().length == 0) {
        $("#loginlabel").fadeIn();
      }
    });
    $("#password").focus(function() {
      $("#passwordlabel").fadeOut();
    });
    $("#password").blur(function() {
      if ($("#password").val().length == 0) {
        $("#passwordlabel").fadeIn();
      }
    });

    $(function() {
      hideLabelForAutocomplete();
    });
