h1 Known Users

table
  tr
    th Username
    th Name
    th Admin
    th Modify
    th Delete
  - each user in users
    tr
      td= user.login
      td= user.name
      td
        - if (user.admin)
          | YES
        - else
          | no
      td
        a(href=basepath + "/modifyUser/" + user.uid) Modify
      td
        a(href=basepath + "/deleteUser/" + user.uid) Delete
p
  a(href=basepath + "/createUser") Add new user
