h1 Modify device 
  - if (d.name)
    | "#{d.name}" (#{d.ident})
  - else
    | "#{d.ident}"

form(method="post", action=basepath + "/modifyDevice/" + d.id)
  p
    label Name:
    input(name="name", value=d.name)
  p
    input(type="submit", value="Modify")
