h1 #{__i('Modify User "%s"', u.login)}

form(method="post", action=basepath + "/modifyUser/" + u.uid)
  p
    label #{__i('Name')}:
    input(name="name", value=u.name)
  p
    label #{__i('Admin')}:
    input(type="checkbox", name="admin", value="t", checked=u.admin)
  p
    h2 #{__i('Folder ACL')}
    - if (folders)
      table
        tr
          th #{__i('Folder')}
          th #{__i('Access')}
        - each folder in folders
          tr
            td= folder.name
            td
              - var hasAccess = false;
              - if (u.acl.indexOf(folder.id) >= 0)
                - hasAccess = true;
              input(type="checkbox", name="acl[]", value=folder.id, checked=hasAccess)
  p
    input(type="submit", value=__i('Modify'))
    input(type="hidden", name="login", value=u.login)
